<mat-toolbar>

  <svg _ngcontent-vqh-c103="" xml:space="preserve" xmlns:xlink="https://www.w3.org/1999/xlink" height="30" id="logo" version="1.1" viewBox="0 0 123 27" x="0px" xmlns="https://www.w3.org/2000/svg" y="0px" class="ng-star-inserted" style="enable-background: new 0 0 123 27; fill: #51514f; width: 110px;"><g _ngcontent-vqh-c103=""><path _ngcontent-vqh-c103="" d="M21,22L21,22l-1.2-1.1c-0.2-0.2-0.5-0.2-0.6,0c0,0,0,0,0,0l-0.6,0.6
    c-1.7,1.7-4,2.6-6.4,2.6c-4.9,0-8.9-3.7-9.1-8.4c0-0.2,0-0.3,0-0.5s0-0.3,0-0.5c0.2-4.7,4.2-8.4,9.1-8.4c2.4,0,4.7,0.9,6.4,2.6
    l0.6,0.6c0.2,0.2,0.5,0.2,0.6,0c0,0,0,0,0,0L21,8.3c0.2-0.2,0.2-0.4,0-0.6l-0.7-0.6c-2.2-2.1-5.1-3.3-8.2-3.3h0c-0.1,0-0.3,0-0.4,0
    l-0.3,0C8.6,4,5.9,5.2,3.9,7.1c-2,2-3.2,4.6-3.4,7.4v0.1c0,0.2,0,0.4,0,0.6s0,0.4,0,0.6v0.1c0.2,2.8,1.4,5.4,3.4,7.4
    c2,2,4.7,3.1,7.5,3.3l0.3,0c0.2,0,0.3,0,0.4,0h0c3.1,0,6-1.2,8.2-3.3l0,0l0.6-0.6C21.2,22.4,21.2,22.2,21,22"></path><path _ngcontent-vqh-c103="" d="M63.5,26.5c3.1,0,6-1.2,8.2-3.3l0,0l0.6-0.6c0.2-0.2,0.2-0.4,0-0.6l-1.2-1.1
    c-0.2-0.2-0.5-0.2-0.6,0l-0.6,0.6c-1.7,1.7-4,2.6-6.4,2.6c-4.9,0-8.9-3.7-9.1-8.4c0-0.2,0-0.3,0-0.5s0-0.3,0-0.5
    c0.2-4.7,4.2-8.4,9.1-8.4c2.4,0,4.7,0.9,6.4,2.6l0.6,0.6c0.2,0.2,0.5,0.2,0.6,0c0,0,0,0,0,0l1.2-1.1l0,0c0.2-0.2,0.2-0.4,0-0.6
    l-0.7-0.6c-2.2-2.1-5.1-3.3-8.2-3.3h0c-0.1,0-0.3,0-0.4,0l-0.3,0c-2.9,0.2-5.5,1.3-7.5,3.3c-2,2-3.2,4.6-3.4,7.4v0
    c0,0.2,0,0.4,0,0.6c0,0.2,0,0.4,0,0.6v0c0.2,2.8,1.4,5.4,3.4,7.4c2,2,4.7,3.1,7.6,3.3l0.3,0c0.1,0,0.2,0,0.2,0l0,0H63.5"></path><path _ngcontent-vqh-c103="" d="M77.1,26h1.8c0.2,0,0.4-0.2,0.4-0.4l0,0l0,0v-9.2h13.2v9.2c0,0.2,0.2,0.4,0.4,0.4h1.8
    c0.2,0,0.4-0.2,0.4-0.4l0,0l0,0V4.7l0,0c0-0.2-0.2-0.4-0.4-0.4h-1.7c-0.2,0-0.4,0.2-0.4,0.4v9.2H79.3V4.7l0,0
    c0-0.2-0.2-0.4-0.5-0.4c0,0,0,0,0,0h-1.7c-0.2,0-0.4,0.2-0.4,0.4v20.9C76.7,25.8,76.9,26,77.1,26"></path><path _ngcontent-vqh-c103="" d="M47.5,11.6c-0.4-0.6-0.6-1.2-0.8-1.9c1-2.5,0.7-5.3-0.8-7.5c-1.6-2.2-5.2-2.3-9.4-0.6l0,0
    c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0.1,0.2,0.2,0.2c0,0,0,0,0,0l0,0c0.2-0.1,0.4-0.1,0.6-0.1c0.1,0,0.2,0,0.2,0c0.2,0,0.4-0.1,0.5-0.1
    l0.2,0c0.2,0,0.5,0,0.7,0h0c0.2,0,0.5,0,0.7,0c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.5,0.1c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0.1,0.6,0.2
    c0,0,0,0,0,0c0.2,0.1,0.4,0.1,0.5,0.2c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.2,0.1,0.4,0.2c0,0,0.1,0.1,0.1,0.1c0.2,0.1,0.3,0.2,0.4,0.4
    C42.8,3,42.9,3.1,43,3.2c0,0,0,0.1,0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0,0.1,0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0,0,0,0.1
    c1.6,3.4-0.9,9.6-6.2,14.8c-1.8,1.8-3.9,3.4-6.2,4.6c0,0,0,0,0,0c-0.1,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1l0,0
    c0.8-0.6,1.6-1.3,2.3-2c6-5.9,8.4-13,5.4-16c-1.6-1.5-4.2-1.6-7.3-0.5c-2.7,1.2-4.8,3.4-5.9,6c-0.1,0-0.1,0,0,0
    c-1,2.5-1.1,5.2-0.3,7.8c0.6,1.9,1.8,3.7,3.3,5c0,0,0,0,0,0c-1.5,1-3.1,1.9-4.7,2.6l0,0c-0.1,0-0.1,0.1-0.1,0.2
    c0,0.1,0.1,0.2,0.2,0.2c0,0,0,0,0,0c0,0,0,0,0.1,0c1.8-0.5,3.5-1.1,5.2-1.9c0.2-0.1,0.5-0.2,0.5-0.2c3,2,6.8,2.6,10.4,1.6
    C46.1,24,49.9,17.4,47.5,11.6" class="isotype"></path><path _ngcontent-vqh-c103="" d="M122.5,25.7L112.4,4.6c0,0,0-0.1,0-0.1c-0.1-0.1-0.2-0.3-0.4-0.3c0,0-0.1,0-0.2-0.1
    c0,0,0,0,0,0h-2.4c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c-0.2,0.1-0.4,0.2-0.5,0.4c0,0,0,0,0,0L98.5,25.7c0,0,0,0.1,0,0.1
    c0,0.2,0.1,0.3,0.3,0.3c0,0,0,0,0,0h1.8c0.1,0,0.1,0,0.2-0.1c0.2-0.1,0.4-0.2,0.5-0.4c0,0,0,0,0,0l3.3-6.8h11.9l0,0.1l3.2,6.7
    c0,0,0,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.4,0.3c0.1,0,0.1,0.1,0.2,0.1h1.8c0.2,0,0.3-0.1,0.3-0.3C122.5,25.8,122.5,25.7,122.5,25.7
    M110.5,6.5l4.8,9.9h-9.5L110.5,6.5z"></path></g></svg>

    <span>COTIZADOR</span>
    <span class="example-spacer"></span>
      <div style="width: 50px; margin: 5px 70px 20px 5px;">
        <span style="padding: 30px;"><i class="cch-amenities-package"></i></span><br>
        <span>Paquetes</span>    
      </div>
      <div style="width: 50px; margin: 5px 70px 20px 5px;">
        <span style="padding: 30px;"><i class="cch-going"></i></span><br>
        <span>Vuelos</span>
      </div>
      <div style="width: 50px; margin: 5px 70px 20px 5px;">
        <span style="padding: 30px;"><i class="cch-amenities-hotel"></i></span><br>
        <span>Alojamiento</span>
      </div>
    <span class="example-spacer"></span>
    <section>
        <div class="example-button-row">
          <button mat-button><i class="cch-user"></i> {{ sessionUser.name }}</button>
          <button mat-button><i class="cch-cart-white"></i>Cotizador Plus</button>
          <button mat-button  (click)="openPreview()"><i class="cch-eye"></i>Vista Rapida [{{ cantProd }}]</button>
        </div>
        <div class="example-label">
            <button mat-button><i class="cch-export"></i>Volver</button>
        </div>
      </section>
  </mat-toolbar>

  <app-sidenav [products] = "products"></app-sidenav>
  <!-- <mat-sidenav-container >
    <mat-sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>
  </mat-sidenav-container> -->
  
