<mat-sidenav-container >
  <mat-sidenav position="end" mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

               <span>ALOJAMIENTOS</span>
               <button mat-raised-button color="warn"><i class="cch-cart-white"></i>Cotizador Plus</button>
               <mat-divider></mat-divider>

               <mat-grid-list cols="2" *ngFor="let product of products" >
                <mat-grid-tile>
                  <img [src]=product.infoProductData.data.image width="250px" height="250px">
                </mat-grid-tile>
                
                <mat-grid-tile >
                  <mat-card class="example-card">
                    <mat-card-title><i class="cch-amenities-hotel"></i> {{ product.infoProductData.data.title }}</mat-card-title>
                    <mat-card-subtitle>{{ product.infoProductData.details.nights }} noches | <img [src]="getHotelRatingImageTag( product.infoProductData.details.ratings.star )" height="12px" /> | <i class="cch-position"></i> {{ product.infoProductData.details.address }}</mat-card-subtitle>
                    
                    <mat-card-content>
                      <p>Entrada: {{ setDate(product.infoProductData.data.startDate) }} Salida: {{ setDate(product.infoProductData.data.endDate) }}</p>
                      <p>Precio Total</p>
                      <p>
                        <span class="mat-h1">{{getPrices(product.pricingData, 'CLP')}}</span>&nbsp;
                        <span class="mat-h4">({{getPrices(product.pricingData, 'USD')}})</span>&nbsp;
                        <span class="mat-small">Tarifa incluye impuestos</span>
                      </p>
                    </mat-card-content>
                    <mat-card-footer>
                      <div align="end"> 
                        <button mat-button color="warn"><i class="cch-trash mat-h1" height="32px"></i></button>
                      </div>
                    </mat-card-footer>
                  </mat-card>
                </mat-grid-tile>
               </mat-grid-list>
  </mat-sidenav>
</mat-sidenav-container>