/* You can add global styles to this file, and also import other style files */

@import "../node_modules/cocha-icons/assets/style.css";


html, body, .material-app, .mat-sidenav-container {
    height: 100%;
    width: 100%;
  }